<div class="container">
  
  <div class="form-input">
     <form action="" class="todo-form" id="add" #myForm="ngForm" (ngSubmit)="onSubmit(list)">
         <input type="text" id="title" name="title" placeholder="enter new todo..." #list >
         <button  mat-stroked-button  style="background-color:rgb(55, 219, 69)"> <mat-icon>add</mat-icon> </button>

     </form>
  </div>
  
  
  <ul class="todo-list">
  
    <h1>To-do List.</h1>
    <li *ngFor="let todo of todos">
      <div *ngIf="!todo.isComplete">
        <div>{{this.todo.title}}</div>
        <div>
          <button mat-stroked-button  style="background-color:rgb(27, 156, 231);color:aliceblue" (click)="onComplete(this.todo.id)"> <mat-icon>check</mat-icon> </button>
          <button mat-stroked-button  style="background-color:rgb(240, 76, 76);color:aliceblue" (click)="onDelete(this.todo.id)" > <mat-icon>delete</mat-icon> </button>

        </div>

      </div>
    </li>

    <h1>Completed Tasks</h1>
    <br>
    <li *ngFor="let todo of todos">
      <div *ngIf="todo.isComplete">
        <div>{{this.todo.title}}</div>
        <div>
          
          <button mat-stroked-button  style="background-color:rgb(240, 76, 76);color:aliceblue" (click)="onDelete(this.todo.id)"> <mat-icon>delete</mat-icon> </button>

        </div>

      </div>
    </li>
  
  </ul>
</div>